<mapper namespace="com.zht.middleware.mybatisspring.dao.IUserDao">

    <select id="queryUserInfoById" parameterType="java.lang.Long" resultType="com.zht.middleware.mybatisspring.po.User">
        SELECT id, userId, userNickName, userHead, userPassword, createTime
        FROM user
        where id = #{id}
    </select>

    <select id="queryUserList" parameterType="com.zht.middleware.mybatisspring.po.User" resultType="com.zht.middleware.mybatisspring.po.User">
        SELECT id, userId, userNickName, userHead, userPassword, createTime, updateTime
        FROM user
        where userNickName = #{userNickName}
    </select>

</mapper>
